<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目变量</title>
    <script src="/static/json-viewer/jquery.json-viewer.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/json-viewer/jquery.json-viewer.css">
</head>
<body>
<nav class="navbar navbar-default" role="navigation"
     style="position: absolute;top: 0px;left: 80px;width:-webkit-calc(100% - 200px);z-index: 1">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">项目名称：{{ project.name }}</span>
            <a class="navbar-brand" href="/project_list/">返回项目列表</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/apis/{{ project.id }}/">接口库</a></li>
                <li><a href="/cases/{{ project.id }}/">用例库</a></li>
                <li><a href="/project_set/{{ project.id }}/">项目设置</a></li>
                <li class="active"><a href="/project_data/{{ project.id }}/">项目变量</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<table class="table table-bordered" style="width: auto;margin-left: 100px">
    <caption>选择不同变量组后，右侧进行修改
        <button class="btn btn-success" onclick="add_data('{{ project.id }}')">新增变量</button>
        <button class="btn btn-primary" onclick="save_data()">保存当前</button>
    </caption>
    <thead>
    <tr>
        <th style="width: 20px"></th>
        <th style="width: 300px">变量组名称</th>
        <th style="width: 100px">操作</th>
    </tr>
    </thead>
    <tbody>
    {% for i in project_data %}
        <tr>
            <td>
                <input type="checkbox" id="check_{{ i.id }}" value="{{ i.id }}" name="check_names" style="margin-top: 15px"
                       onchange="change_check()">
            </td>
            <td>
                <button class="btn btn-default" style="margin-top: 3px;width: 200px;margin-left: 45px"
                        onclick="show_data('{{ i.id }}', '{{ i.name }}', '{{ i.data }}')">{{ i.name }}</button>
            </td>
            <td>
                <button class="btn btn-danger" style="margin-top: 5px" onclick="del_data('{{ i.id }}')">删除</button>
            </td>
        </tr>
        <script>
            if ("{{ project.project_datas }}" != "None" && "{{ project.project_datas }}" != "") {
                if ($.inArray("{{ i.id }}", "{{ project.project_datas }}".split(',')) != -1) {
                    document.getElementById('check_{{ i.id }}').checked = 'checked'
                }
            }
        </script>
    {% endfor %}
    </tbody>
</table>

<div style="position: absolute;left: 550px;top: 110px">
    <input type="text" id="data_id" style="display: none;">
    <input id="data_name" type="text" class="form-control" placeholder="变量组的名字">
    <button id="btn-json-viewer" class="btn btn-warning" onclick="renderJson()"
            style="position: absolute;left: 810px;margin-top: 5px">
        Beautify
    </button>
    <textarea id="data_data" class="form-control" rows="10" placeholder="JSON格式的变量组的内容"
              style="margin-top:5px;width: 800px;height: 300px"></textarea>
    <br>
    <pre id="json-renderer"></pre>
</div>

<script>
    function show_data(id, name, data) {
        document.getElementById('data_id').value = id;
        document.getElementById('data_name').value = name;
        document.getElementById('data_data').value = data;
    }

    function add_data(project_id) {
        $.get("/project_data_add/", {
            "project_id": project_id
        }, function (ret) {
            document.location.reload()
        })
    }

    function del_data(id) {
        $.get("/project_data_delete/", {
            "data_id": id
        }, function (ret) {
            document.location.reload()
        })
    }

    function save_data() {
        var data_id = document.getElementById('data_id').value;
        var data_name = document.getElementById('data_name').value;
        var data_data = document.getElementById('data_data').value;
        console.log(data_id);
        $.get('/project_data_save/', {
            "data_id": data_id,
            "data_name": data_name,
            "data_data": data_data,
        }, function (ret) {
            if (ret == 'error') {
                alert('无法保存！');
                return
            }
            document.location.reload()
        })
    }

    function change_check() {
        // 获取所有选中的checkbox的值 组成列表 chk_value
        var chk_value = [];
        $('input[name="check_names"]:checked').each(function () {
            chk_value.push($(this).val());
        });
        // 把结果发送给后台
        $.get("/project_data_change_check/", {
            "project_id": "{{ project.id }}",
            "project_datas": chk_value.toString()
        }, function (ret) {
            document.location.reload()
        })
    }

    function renderJson() {
        try {
            var input = eval('(' + $('#data_data').val() + ')');
        } catch (error) {
            return alert("Cannot eval JSON: " + error);
        }
        $('#json-renderer').jsonViewer(input, {withQuotes: true});
    }

    $("#data_data").keypress(function (event) {
        var eve = document.getElementById('data_data');
        if (event.keyCode == 219) {
            eve.append('}')
            console.log('219')
        }
        else if(event.keyCode == 222) {
            eve.append('"')
            console.log('222')
        }
    })
</script>
</body>
</html>